﻿<style>
	.noShowIfEmpty[data-val=''] {
		display: none;
		visibility: hidden;
	}
</style>
<h2 style="color:#555">Order#: [[ORDERNUMBER]]</h2>

<table class="receipt" border="0" cellpadding="0" style="width: 100%;">
    <tr>
        <td class="label">Order placed:</td>
        <td class="value">[[CREATED]]</td>
    </tr>

    <tr>
        <td class="label">Service method:</td>
        <td class="value">[[SERVICEMETHOD]]</td>
    </tr>

    <tr>
        <td class="label">Checkout method:</td>
        <td class="value">[[CHECKOUTMETHOD]]</td>
    </tr>

    <tr>
        <td class="label">Payment status:</td>
        <td class="value">[[PAYMENTSTATUS]]</td>
    </tr>

    <tr>
        <td class="label">[[DELIVERYPOINTCAPTION]]:</td>
        <td class="value">[[DELIVERYPOINTNUMBER]] ([[DELIVERYPOINTNAME]])</td>
    </tr>

    <tr>
        <td class="label">Total price:</td>
        <td class="value">[[PRICE]]</td>
    </tr>

    <tr>
        <td class="label" colspan="3">&nbsp;</td>
    </tr>

    <tr>
        <td class="label">Name:</td>
        <td class="value">[[CUSTOMERLASTNAME]]</td>
    </tr>

    <tr>
        <td class="label">Email:</td>
        <td class="value">[[CUSTOMEREMAIL]]</td>
    </tr>

    <tr>
        <td class="label">Phone:</td>
        <td class="value">[[CUSTOMERPHONE]]</td>
    </tr>
    <tr data-val="[[NUMBEROFCOVERS]]" class="noShowIfEmpty">
        <td class="label noShowIfEmpty" data-val="[[NUMBEROFCOVERS]]">[[NUMBEROFCOVERSTITLE]]</td>
        <td class="value">[[NUMBEROFCOVERS]]</td>
    </tr>
    [[DELIVERYINFORMATION]]

</table> 
<br />

[[ORDER]]
[[ORDERTOTAL]]
<br />

[[TAXBREAKDOWN]]
